<h1 class="mt-4">Home</h1>
<header class="container">
    <h1 class="display-4 m-5">Bem vindo...</h1>
    <h3 class="m-5">Faça aqui o orçamento dos exames</h3>
  </header>

  <section class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Sigla</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Adicionar exames</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>U</td>
                <td>UREIA</td>
                <td>20,00</td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>B12</td>
                <td>VITAMINA B12</td>
                <td>50,00</td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>GLI</td>
                <td>GLICOSE</td>
                <td>20,00</td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>FET</td>
                <td>FERRITINA</td>
                <td>50,00</td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>MG</td>
                <td>MAGNESIO</td>
                <td>20,00</td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" class="btn btn-success">adicionar</button></td>
            </tr>
        </tbody>
    </table>
</section>
<div class="container">
    <p class="m-5">Exames escolhidos </p>
</div>