<h1 class="mt-4">Consulta dos Alunos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Informações do aluno</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <div class="success alert-success" role="alert" *ngIf="mensagemSucesso">
            {{mensagemSucesso}}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
           {{mensagemErro}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <button class="btn btn-warning" (click)="NovoCadastro()">
            <i class="fa fa-plus"></i>Novo
        </button>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table talbe condensed table-hover">
                <thead>
                    <tr>
                    <th>ID:</th>
                    <th>Nome:</th>
                    <th>Idade</th>
                    <th>Cidade</th>
                    <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let aluno of alunos">
                        <td>{{aluno.id}}</td>
                        <td>{{aluno.nome}}</td>
                        <td>{{aluno.idade}}</td>
                        <td>{{aluno.cidade}}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/alunosForm/{{ aluno.id }}">
                                <i class="fa fa-pen-square"></i>
                            </button>

                            <button class="btn btn-danger" (click)="preparaDelecao(aluno)" data-toggle="modal" data-target="#modalSelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="modalSelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>
                
                <div class="modal-boby" *ngIf="alunosSelecionado">
                    Confirma a deleção do(a) Aluno(a) {{ alunosSelecionado.nome }} ?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarAluno()" data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>

    </div>

</div>