<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">São João</div>
                <a class="nav-link" routerLink="/home"
                    ><div class="sb-nav-link-icon"><i class="bi bi-house-door"></i></div>
                    Home</a
                >
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed" routerLink="/funcionarioForm" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts"
                    ><div class="sb-nav-link-icon"><i class="bi bi-people"></i></div>
                    Funcionários</a
                >
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                </div>
                <a class="nav-link collapsed" routerLink="/examesForm" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages"
                    ><div class="sb-nav-link-icon"><i class="bi bi-eyedropper"></i></div>
                    Exames
                </a>
            </div>  
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>